/* Write some CSS below */

.form-inputs {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  padding: 5px;
}

.form-inputs .form-search-input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-search-input {
  background-color: #FFFFFF;
  flex-grow: 1;
  border: none;
}

.submit-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  cursor: pointer;
  border: 1px solid #1EDD88;
}

.submit-btn:hover {
  background: #1BCB7F;
}
